body {
  margin: 0 auto;
}

.mainContainer {
  margin-left: 150px;
  margin-right: auto;
  margin-top: 20px;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

.userContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 235, 235, 0.6);
  width: 250px;
  height: 250px;
  border-radius: 5%;

}

.contactLink {
  text-decoration: none;
  color: rgb(78, 75, 75);

}

.avatar {

  border-radius: 50%;

}

.userName {
  margin-top: 20px;
  font-weight: bolder;
}

.btnContainer {
  text-align: center;
}

.btn1,
.btn2 {
  display: inline-block;

  border: none;
  background-color: inherit;

  margin-top: 10px;
  text-align: center;
  display: inline-block;

  cursor: pointer;

}